.container {
  background-color: black;
}

.navbarcontainer {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.navbarul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
}

.navbaritem {
  color: white;
  font-weight: bold;
}

.navbaractions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbaractions button {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 6px 15px;
  cursor: pointer;
}

.navbaractions button:hover {
  background-color: white;
  color: black;
}

#addpost {
  scale: 1.2;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(177, 193, 197);
  border-radius: 8px;
  backdrop-filter: contrast(0.2) blur(5px);
}

.hamburger-menu {
  display: none;
}
.appname {
  display: none;
}
.responsive-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbarul {
    justify-content: center;
  }
  .responsive-menu {
    display: inline-block;
  }
  .appname {
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .navbaritem {
    display: none;
  }
  .hamburger-menu {
    display: inline-block;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 24px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    border: none;
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
}
