.user-Settings {
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.user-Settings form {
  width: 70%;
}

.user-SettingsItem {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.usersettingFields {
  width: 49%;
}
.usersettingFields input[type="text"] {
  width: 50%;
}

.wallet {
  border: 2px solid white;
}

.wallet ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.wallet ul li {
  width: 50%;
  text-align: center;
}

.addWalletButton {
  color: black;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 15px;
  cursor: pointer;
}

.buttoncontainer {
  display: flex;
  margin-bottom: 6px;
  justify-content: space-evenly;
}

.textfieldcontainer input[type="text"] {
  padding: 0;
  height: 20px;
  min-width: 50px;
}

.walletbox {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6px;
}

.usersettingFieldsPen {
  cursor: pointer;
}

.usersettingFieldsPen::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="16px" height="16px">    <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"/></svg>');
  float: right;
  padding-right: 50%;
}
